<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../public/framework/vue.js"></script>
</head>
<style type="text/css">
.expand-transition {
    transition: all .3s ease;
    height: 30px;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}


/* .expand-enter 定义进入的开始状态 */


/* .expand-leave 定义离开的结束状态 */

.expand-enter,
.expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}
</style>

<body>
    <div id="demo">
    	<h1 v-show="ok" transition="expand" style="display: none;">Hello!</h1>
        <div v-if="show" transition="expand">hello</div>
        <button @click = "ok = !ok">Toggle</button>
    </div>
    <script>
    new Vue({
        el: '#demo',
        data:{
        	ok:true
        }
    })
    </script>
</body>

</html>
