<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Document</title>
    <link rel=stylesheet href="/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="class-info" v-show="tab_class">
            <div class="page-header">
              <h2>当前课程：《信息系统》<small>老师：于英香</small></h2>
            </div>
            <div class="alert alert-success">您已签到成功！<br>课程信息：(计204，（双周周三上午1—2节上机C417）)三 1-4单</div>
        </div> 
    </div>
</body>

</html>
